<form method="post" action="{{ path('app_tweet_delete', {'id': tweet.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tweet.id) }}">
    <button class="btn-danger" data-action="click->loader#show">Delete</button>
</form>
