<turbo-frame id="tweet_stats_{{ tweet.id }}">
<div class="d-flex gap-3">
    <div class="d-flex flex-column align-items-center">
      <span>{{ tweet.likes }}</span>
      <span>Likes</span>
    </div>
    <div class="d-flex flex-column align-items-center">
      <span>{{ tweet.retweets }}</span>
      <span>Retweets</span>
    </div>
  </div>
</turbo-frame>
